<!DOCTYPE html>
<html>
<head>
  <title><%= appname %></title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1.0">

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@ChipotleTweets">
  <meta name="twitter:title" property="og:title" content="<%= appname %>">
  <meta name="twitter:description" property="og:description" content="Lorem Ipsum">
  <meta name="twitter:image" property="og:image" content="https://tbd.chipotle.com/assets/social/default.jpg">
  <meta property="og:type" content="website">
  <meta property="fb:app_id" content="">
  <meta property="og:url" content="https://tbd.chipotle.com/">

  <link charset="utf-8" rel="stylesheet" href="/assets/css/app.css">
  <!-- <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png"> -->

</head>
<body>

  <div id="root"></div>

  <script charset="utf-8" src="/assets/js/app.js"></script>

</body>
</html>
